@charset "utf-8";


/* fonts */
@import "./assets/css/fonts.scss";

/* reset */
@import "./assets/css/reset.scss";

/* common */
@import "./assets/css/common.scss";

/* header */
@import "./assets/css/header.scss";

/* slider */
@import "./assets/css/slider.scss";

/* card */
@import "./assets/css/card.scss";

/* banner */
@import "./assets/css/banner.scss";

/* imgText */
@import "./assets/css/image.scss";

/* imgText */
@import "./assets/css/imgText.scss";

/* text */
@import "./assets/css/text.scss";

/* footer */
@import "./assets/css/footer.scss";